/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20%;

}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #000;
    padding: 3rem;
    background-color: #ffffff;
}


.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0.342),
            rgba(89, 0, 255, 0.281)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    animation: makeCurve;
    animation-duration: 3s;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.442);
}

.header__logo-box {
    position: relative;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 8rem;
    border-radius: 70%;
    animation: makeCurveOne;
    animation-duration: 2s;
    backface-visibility: hidden;
}

.header__logo:hover {
    transform: translateY(-0.5rem);
    animation: makeCurveTwo 2s ease-out;
    backface-visibility: hidden;
}

.header__logo:active {
    transform: translateY(0.2rem);
}

.header__text-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-30%, -50%);
    /* text-align: center; */
}

.heading-primary {
    color: #000000;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    animation: moveInTop;
    animation-duration: 4s;
}

.heading-primary--submain {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    animation: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    animation: moveInRight;
    animation-duration: 6s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    60% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {}

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {}

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes makeCurve {
    0% {
        opacity: 0;
        border-radius: 0%;
    }

    80% {}

    100% {
        opacity: 1;
        border-radius: 20%;
    }
}

@keyframes makeCurveOne {
    0% {
        opacity: 0;
        transform: rotate(180deg) scale(1.3);
        border-radius: 60%;
    }

    80% {}

    100% {
        opacity: 1;
        border-radius: 50%;
        transform: rotate(360deg) scale(1);
    }
}

@keyframes makeCurveTwo {
    0% {
        transform: rotate3d(1, .5, 0, -90deg) scaleX(2);
    }

    50% {
        transform: rotate3d(1, .5, 0, 90deg) scaleY(2)
    }

    100% {
        transform: rotate3d(0, 0, 0, 0deg) scaleX(1) scaleY(1);
    }
}

.btn:link,
.btn:visited {
    text-transform: capitalize;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 8rem;
}

.btn--white {
    background-color: #000000;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.442);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.442);
}